@import '../../styles/main.scss';

.aside {
  width: 100%;
  max-width: 200px;
  min-height: 100vh;
  background-color: $ASIDE_BG;
  border-right: 1px solid $BORDER;
  padding: 57px 20px 0;
  &__top {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 28px;
    svg {
      @include size(18px);
      fill: $GRAY;
      margin-right: 6px;
    }
  }
  .aside__topText {
    @include text(rem(16px) 500, $BLACK);
    line-height: 84%;
    letter-spacing: 0.2px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
    &_item {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 5px 11px 12px;
      cursor: pointer;
      @include transition(all);
      &:hover {
        background-color: $WHITE;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
      }
    }
    &_marker {
      @include size(10px, true);
      margin-right: 10px;
    }
    &_text {
      @include text(rem(14px), 400, $BLACK);
      line-height: 87.5%;
      letter-spacing: 0.15px;
    }
  }

  .active {
    background-color: $WHITE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
}

.newFolders {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 10px;
  cursor: pointer;

  svg {
    @include size(10px);
    margin-right: 10px;
    fill: $DARK_GREY;
  }
  &__text {
    @include text(rem(14px), 500, $DARK_GREY);
    line-height: 87.5%;
    letter-spacing: 0.15px;
    @include transition(color);
    &:hover {
      color: $GREEN;
    }
  }
}
